/* styles.css */

/* Add your styles here */
.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-item {
  margin: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
